.center {
  margin: 10px;
  width: 500px;
  padding: 20px;
  background-color: darkolivegreen;
  color: white;
}

h1, h2, h3 {
  text-align: center;
  font-style: normal;
}

.container {
  display: flex;
  margin-left: 250px;
  margin-top: 60px;
  margin-bottom: 30px;
  font-style: normal;
}

.comp1, .comp2 {
  border: 1px solid black;
  flex-grow: 1;
  margin-left: 10px;
  font-style: normal;
}

.btn {
  width: 200px;
  height: 50px;
}

.btn1 {
  width: 200px;
  height: 50px;
  margin-right: 10px;
  margin-left: 20px;
  background-color: deepskyblue;
  border: none;
  border-radius: 8px;
  font-size: 16px;
}

.input1 {
  margin-left: 100px;
}



label {
  display: block;
  text-align: center;
  line-height: 150%;
  font-size: 1.5em;
  font-style: normal;
}

.topics {
  height: 100%;
  width: 100%;
}

.form-group textarea {
  margin-top: 10px;
  height: 40px;
  border-radius: 6px;
  font-size: 19px;
  width: 300px;
}

.form-group input {
  margin-left: 50px;
  margin-top: 10px;
  height: 40px;
  border-radius: 6px;
  border: 1px solid rgb(116, 116, 116);
  font-size: 19px;
  width: 300px;
}

.form-group select {
  margin-top: 10px;
  margin-left: 30px;
  height: 40px;
  border-radius: 6px;
  border: 1px solid rgb(116, 116, 116);
  font-size: 19px;
  width: 300px;
}

.modal-content {
  padding: 20px;
  background-color: #AEC2D5;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 690px;
  width: 400px;
}
