<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

  <div class="forma">
    <br><h3>View reserved appointments</h3><br>
  </div>
  <div class="modal-dialog text-center">
    <div class="modal-content">
      <table class="table table-striped" border="1" width="200" style="background-color:darkolivegreen; color:white">
        <thead>
          <tr>
            <th>User</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Clinic</th>
            <th>Appointment</th>
            <th>Questionnaire</th>


          </tr>
        </thead>
        <tbody>
          <tr app-search-user-view *ngFor="let f of apps">
            <td style="color:white">{{ f.patient ? f.patient.firstName : ''}} {{ f.patient ? f.patient.lastName : ''}}</td>
            <td style="color:white">{{ f.patient ? f.patient.email : ''}}</td>
            <td style="color:white">{{ f.patient ? f.patient.mobile : ''}}</td>
            <td style="color:white">{{ f.clinic ? f.clinic.name : ''}}</td>
            <td style="color:white">{{f.startDate}}</td>
            <td style="color:white">
              <div *ngFor="let q of questionnaires">
                <span *ngIf="q.patient_RefID === f.patient?.id">{{ q.isValid ? 'Yes' : 'No' }}</span>
              </div>
            </td>


            <td><button [routerLink]="['start-appointment/', f.id]" style=" width: 170px; height: 30px; background-color: forestgreen; color: white; border: none; border-radius: 8px; ">Start appointment</button> </td>
            <td><button style=" width: 170px; height: 30px; background-color: orangered; color: white; border: none; border-radius: 8px; " (click)="cancelApp(f.id)">Cancel appointment</button> </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>


</body>
</html>
