<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

  <div class="forma">
    <h3>Search user</h3>
    <form class="form-search" (ngSubmit)="loadUsers()">
      <input style="width: 250px; " align="center" name="searchCriteria" id="searchCriteria" type="text" [(ngModel)]="res.searchCriteria"><br>

      <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="inlineRadio1" value="firstName" [(ngModel)]="res.sortBy">
      <label class="form-check-label" for="inlineRadio2">first name</label>


      <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="inlineRadio1" value="lastName" [(ngModel)]="res.sortBy">
      <label class="form-check-label" for="inlineRadio2">last name</label><br>

      <input type="submit" value="search"   class="btn btn-primary">
    </form>
  </div>
  <div class="modal-dialog text-center">
    <div class="modal-content">
      <table class="table table-striped" border="1" width="200" style="background-color:darkolivegreen; color:white">
        <thead>
          <tr width="5%">
            <th>First Name</th>
            <th>Last Name</th>
            <th>JMBG</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Address</th>
            <th>Profession</th>
            <th>Role</th>
            <th>Questionnaire</th>

          </tr>
        </thead>
        <tbody style="color:white;">
          <tr app-search-user-view *ngFor="let f of patients">
            <td style="color:white">{{f.firstName}}</td>
            <td style="color:white">{{f.lastName}}</td>
            <td style="color:white">{{f.jmbg}}</td>
            <td style="color:white">{{f.email}}</td>
            <td style="color:white">{{f.mobile}}</td>
            <td style="color:white">{{f.address + ", " + f.city + ", " + f.country}}</td>
            <td style="color:white">{{f.job}}</td>
            <td style="color:white">{{f.role}}</td>
            <td style="color:white">{{f.isQuestionnaireValid}}</td>
            <td> <button [routerLink]="['start-appointment']" style=" width: 170px; height: 30px; background-color: forestgreen; color: white; border: none; border-radius: 8px; ">Start appointment</button> </td>
            <td> <button (click)="removeUser()" style=" width: 170px; height: 30px; background-color: darkred; color: white; border: none; border-radius: 8px; ">Remove user</button> </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>


</body>
</html>
